
body {
  margin: 0;
  font-family: fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.navbar-bg{
  
  background-color: blueviolet;
  
} 
.logo-img{
  width: 40px;
  height: auto;
}
.hero-btn{
  border-radius: 20px;
  padding: 10px 20px;
  background-color: blueviolet;
  color: white;
  border: 0;
  transition: all 0.2s ease-in-out;
}

.hero-btn:hover{
  transform: scale(1.1);
  background-color: rgb(236, 132, 149);
}
.afters-tag{
  background-color: blueviolet;
  color: white;
  padding: 10px 0;
  margin-bottom: 10px;
}
.form-con{
  border: 3px solid blueviolet;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 25px 10px;
}

.diduknow{
  border: 3px solid blueviolet;
  border-radius: 20px;
  
}
.stars{
  width: 40px;
  height: 50px;
}
.diduknowAnimation{
  width: 150px;
  height: auto;
}
.randomString{
  font-style: italic;
  font-weight: 600;
  color: rgb(67, 24, 108);
}